<!-- Validation failure messages -->
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_user/<%= @user.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for first_name -->
      <div class="form-group">
        <label for="first_name" class="control-label">
          First name
        </label>

        <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= @user.first_name %>">
      </div>

      <!-- Label and input for last_name -->
      <div class="form-group">
        <label for="last_name" class="control-label">
          Last name
        </label>

        <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= @user.last_name %>">
      </div>

      <!-- Label and input for user_city_id -->
      <div class="form-group">
        <label for="user_city_id" class="control-label">
          User city
        </label>

        <input type="text" id="user_city_id" name="user_city_id" placeholder="User city" class="form-control" value="<%= @user.user_city_id %>">
      </div>

      <!-- Label and input for event_id -->
      <div class="form-group">
        <label for="event_id" class="control-label">
          Event
        </label>

        <input type="text" id="event_id" name="event_id" placeholder="Event" class="form-control" value="<%= @user.event_id %>">
      </div>

      <button class="btn btn-warning">
        Update User
      </button>
      or
      <a href="/users/<%= @user.id %>">Cancel</a>
    </form>
  </div>
</div>
