<!-- Validation failure messages -->
<% if @event_listing.errors.any? %>
  <% @event_listing.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Event Listing #<%= @event_listing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_event_listing/<%= @event_listing.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_name -->
      <div class="form-group">
        <label for="event_name" class="control-label">
          Event name
        </label>

        <input type="text" id="event_name" name="event_name" placeholder="Event name" class="form-control" value="<%= @event_listing.event_name %>">
      </div>

      <!-- Label and input for event_type -->
      <div class="form-group">
        <label for="event_type" class="control-label">
          Event type
        </label>

        <input type="text" id="event_type" name="event_type" placeholder="Event type" class="form-control" value="<%= @event_listing.event_type %>">
      </div>

      <!-- Label and input for event_date -->
      <div class="form-group">
        <label for="event_date" class="control-label">
          Event date
        </label>

        <input type="text" id="event_date" name="event_date" placeholder="Event date" class="form-control" value="<%= @event_listing.event_date %>">
      </div>

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Location
        </label>

        <input type="text" id="location_id" name="location_id" placeholder="Location" class="form-control" value="<%= @event_listing.location_id %>">
      </div>

      <!-- Label and input for event_description -->
      <div class="form-group">
        <label for="event_description" class="control-label">
          Event description
        </label>

        <input type="text" id="event_description" name="event_description" placeholder="Event description" class="form-control" value="<%= @event_listing.event_description %>">
      </div>

      <!-- Label and input for creator_id -->
      <div class="form-group">
        <label for="creator_id" class="control-label">
          Creator
        </label>

        <input type="text" id="creator_id" name="creator_id" placeholder="Creator" class="form-control" value="<%= @event_listing.creator_id %>">
      </div>

      <button class="btn btn-warning">
        Update Event Listing
      </button>
      or
      <a href="/event_listings/<%= @event_listing.id %>">Cancel</a>
    </form>
  </div>
</div>
